<!DOCTYPE html>
<html lang="en">

<head>
    <title>OUSSIMO</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">


    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/">OUSSIMO<span>CARS</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item "><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="/voiture" class="nav-link">Voitures</a></li>
                    <li class="nav-item "><a href="/tracer" class="nav-link">Tracers</a></li>
                    <li class="nav-item active"><a href="/voituretracer" class="nav-link">Positions</a></li>

                </ul>
            </div>
        </div>
    </nav>
    
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/im7.jpg');" data-stellar-background-ratio="0.5" >
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
          <div class="col-md-9 ftco-animate pb-5">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Accueil <i class="ion-ios-arrow-forward"></i></a></span> <span>Positions <i class="ion-ios-arrow-forward"></i></span></p>
            <h1 class="mb-3 bread">Voitures &amp; Tracers &amp; Positions</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-cart">
			<div class="container">
        <center><p><a href="/affecter" class="btn btn-primary py-3 px-4">Affecter un tracer a une voiture</a></p></center>

				<div class="row">
					<% voiture.forEach(function(m){ %>
    			<div class="col-md-12 ftco-animate">
    				<div class="car-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th class="bg-dark heading"></th>
						        <th class="bg-dark heading">Voiture</th>
						        <th class="bg-dark heading">Tracer</th>
						        <th class="bg-dark heading">Date de debut</th>
								<th class="bg-dark heading">Date de fin</th>
								<th class="bg-primary heading">Action</th>
						      </tr>
						    </thead>
						    <tbody>
						      <tr>
								<td class="price" style=" width: 250px;"><img src="images/trackercar.png" style="height: 70px; width: 70px;"/> </td>
						        <td class="price" style=" width: 250px;">
						        	<p class="btn-custom"><%= m.matricule %></p>
						        	<div class="price-rate">
							        	<h3>
							        		<span class="num"><%= m.matricule %></span>
							        	</h3>
						        	</div>
						        </td>
						        <td class="price" style=" width: 250px;" >
						        	<p class="btn-custom"><%= m.numTracer %></p>
						        	<div class="price-rate">
							        	<h3>
							        		<span class="num"><%= m.numTracer%></span>
							        	</h3>
						        	</div>
						        </td>
								<% m.voitureTracer.forEach(function(n){ %>

						        <td class="price" style=" width: 250px;">
						        	<p class="btn-custom"><%= n.datedebut %></p>
						        	<div class="price-rate">
							        	<h3>
							        		<span class="num"><%= n.datedebut %></span>
							        	</h3>
						        	</div>
						        </td>
								<td class="price" style=" width: 250px;">
						        	<p class="btn-custom"><%= n.datedebut %></p>
						        	<div class="price-rate">
							        	<h3>
							        		<span class="num"><%= n.datedebut %></span>
							        	</h3>
						        	</div>
						        </td>
								<td class="price" style=" width: 250px;">
									<a href="deleteaffecter/<%= m._id %>" class="btn btn-sm btn-danger">Supprimer</a>
									<a href="sendMap?num=<%= m.voitureTracer[0].numTracer %>&matricule=<%= m.matricule %>" type="button" class="btn btn-sm btn-success mappage"  >Visiter</a>
						        </td>

						      </tr><!-- END TR-->
							  <% }); %>

							  <% }); %>
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
			</div>
		</section>


    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/jquery.timepicker.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
    
  </body>
</html>